<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Body Zone</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles2.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column">
        <main class="flex-shrink-0">
                       <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
                <div class="container px-5">
                    <a class="navbar-brand" th:href="@{/}"><b>Elite Sports Club</b></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" th:href="@{/}">Home</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/gallery}">Gallery</a></li>
                           <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/membership}">Membership</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/tournaments}">Tournaments</a></li>
                             
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPortfolio" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Facilities</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownPortfolio">
                                    <li><a class="dropdown-item" th:href="@{/swimming}">Aqua Point</a></li>
                                    <li><a class="dropdown-item" th:href="@{/badminton}">Badminton</a></li>
                                    <li><a class="dropdown-item" th:href="@{/bodyzone}">Body Zone</a></li>
                                    <li><a class="dropdown-item" th:href="@{/cricket}">Cricket</a></li>
                                    <li><a class="dropdown-item" th:href="@{/music}">Music</a></li>
                                </ul>
                            </li>
                            
                            
                             <li class="nav-item"><a class="nav-link" th:href="@{/addAdmin}" sec:authorize="hasAuthority('admin')">Add Admin</a></li>
                            
                            
                             <li class="nav-item"><span class="nav-link" sec:authorize="isAuthenticated()">Welcome! [[${#request.userPrincipal.principal.fname}]]</span></li>
                           
                             <li class="nav-item"><a class="nav-link" th:href="@{/login}" sec:authorize="!isAuthenticated()">Login</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/register}" sec:authorize="!isAuthenticated()">Register</a></li>
                            <li class="nav-item"><a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/fitness.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                      <h5>Fitness related facilities</h5>
                    </div>
                  </div>
                </div>
              </div>
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/gym4.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">Fitness is not one dimensional which is why we provide a full-service fitness offering; guided by knowledgeable and supportive fitness teams, who work hard to meet the individual needs of our members.Today, health clubs and fitness centers are a reference of health services, rising the adherence to physical activity.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="img/gym3.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Growth &amp; beyond</h2>
                            <p class="lead fw-normal text-muted mb-0">We believe that fitness should not be one dimensional and we know that you can maximise your full potential with an all-encompassing workout. Flying solo is great but striving together is better which is why we offer the highest possible variety at an affordable cost.
                            </p>
                            <div class="fw-bolder lead fw-normal texted-muted mb-0">
                                <ul>
                                    Timing
                                <li>
                                    Morning 04:00AM to 09:30AM
                                </li>
                                <li>
                                    Evening 04:00PM to 11:00PM
                                </li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/shahbaz.jpg" alt="..." />
                                <h5 class="fw-bolder">Shahbaz Ahamed </h5>
                                <div class="fst-italic text-muted">PL</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/udit.jpg" alt="..." />
                                <h5 class="fw-bolder">Udit Vyas</h5>
                                <div class="fst-italic text-muted"></div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/jayesh.jpg" alt="..." />
                                <h5 class="fw-bolder">Jayesh Gaikwad</h5>
                                <div class="fst-italic text-muted"></div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="img/jahnvi.jpg" alt="..." />
                                <h5 class="fw-bolder">Janavhi Banarse</h5>
                                <div class="fst-italic text-muted"></div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-5" src="img/devanshu.jpeg" alt="..." />
                                <h5 class="fw-bolder">Devanshu Sulakhe</h5>
                                <div class="fst-italic text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
       
       
       
       
       
       
       
       
         <!-- Footer-->
              
     
      <footer class="main-footer">
          <div class="container">
              <div class="footer-content">
                  <div class="row">
                      <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
                          <div class="logo-widget footer-widget">
                              <figure class="logo-box"><a th:href="@{/}"><img src="img/logo1.jpg" alt=""></a></figure>
                              <div class="text">
                                  <p> Today, Sports Club is one of the most regal clubs of Ahmedabad and renowned for its state of the art amenities and splendid aura.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12 offset-lg-2 footer-column">
                          <div class="service-widget footer-widget">
                              <div class="footer-title">Services</div>
                              <ul class="list">
                                  <li><a href="#">Grounds</a></li>
                                  <li><a href="#">Lawns</a></li>
                                  <li><a href="#">Indoor sport halls</a></li>
                                  <li><a href="#">Food and beverages</a></li>
                                  <li><a href="#">Accomodations</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="col-lg-3 col-md-6 col-sm-12 footer-widget">
                          <div class="service-widget footer-widget">
                              <div class="footer-title">Designed By</div>
                              <ul class="list">
                                  <li><a href="https://www.linkedin.com/in/imshahbaz21/">Shahbaz Ahmed</a></li>
                                  <li><a href="https://www.linkedin.com/in/udit-vyas-6a840b1a1/">Udit Vyas</a></li>
                                  <li><a href="https://www.linkedin.com/in/jayesh-gaikwad-95967819a/">Jayesh Gaikwad</a></li>
                                  <li><a href="#">Janvahi Banarse</a></li>
                                  <li><a href="#">Devanshu Sulakhe</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
      <!-- main-footer end -->
      <div class="footer-bottom">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 column">
                      <div class="copyright"> &copy; 2019 All Right Reserved</div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 column">
                      <ul class="footer-nav">
                          <li><a href="#">Terms of Service</a></li>
                          <li><a href="#">Privacy Policy</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
        
     
       
       
       
       
       
       
       
       
       
       
       
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
    </body>
</html>