<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<link rel="stylesheet" type="text/css" href="css/login.css">

<link rel="stylesheet" type="text/css" href="css/login1.css">
<link rel="stylesheet" type="text/css" href="css/Error.css">


</head>
<body>






<div class="header1">
  <a th:href="@{/}" class="logo">Elite Sports Club</a>
  <div class="header-right1">
    <a th:href="@{/}">Home</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
    <a th:href="@{/register}">Register</a>
  </div>
</div>




















<!-- Responsive Desktop/Mobile Login form considered to be used as mobile first approach--> 
<!-- Wave animation credit: https://codepen.io/goodkatz -->

<div class="header">

<!--Content before waves-->
<div class="inner-header flex">
<!--Just the logo.. Don't mind this-->

<h3>Login</h3>
</div>

<!--Waves Container-->
<div>
<svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
<defs>
<path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
</defs>
<g class="parallax">
<use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
<use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
<use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
<use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
</g>
</svg>
</div>
<!--Waves end-->

</div>
<!--Header ends-->

<!--Content starts-->
<div class="content flex">
  <form th:action="@{/login}" method="post">
  
  
  <div th:if="${param.invalid}">
   <div class="error-notice">
        <div class="oaerror danger">
          <strong>Invalid Username or Password!!!</strong>
        </div>
</div>
</div>
  
  <div th:if="${param.success}">
  <div class="error-notice">
   <div class="oaerror success">
          <strong>Registration Successfull please login!!!</strong>
        </div></div></div>
  
  <div th:if="${param.already}">
  <div class="error-notice">
   <div class="oaerror warning">
          <strong>Already a Member please login!!!</strong>
        </div></div></div>
  
  <div th:if="${param.loggedout}">
  <div class="error-notice">
   <div class="oaerror success">
          <strong>Logged Out</strong>
        </div></div></div>




  
  
    <input type="email" placeholder="Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" name="username" id="username"
    
    pattern="^[a-zA-Z0-9.!#$%&+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)$"
onchange="try{setCustomValidity('')}catch(e){}"
oninput="setCustomValidity(' ')"
oninvalid="this.setCustomValidity('*Please enter valid Email')"
    
    required
    />
    <input type="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" name="password" id="password"
    
    pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
				onchange="try{setCustomValidity('')}catch(e){}"
				oninput="setCustomValidity(' ')"
				oninvalid="this.setCustomValidity('*Your password must contain at least 1 uppercase, 1 lowercase letter, 1 no. digit and 1 special character.')"


required
    
    
    
    
    />
    <button class="login-btn" type="submit">Login</button>
  </form>
  <div class="bottom-container">
    <p>Not registered with us?</p><a th:href="@{/register}">Sign Up!</a>
    </div>
    </div>
<!--Content ends-->
</body>
</html>